body{
    background-image: url(img/wallpaperflare.com_wallpaper\ \(4\).jpg);
    background-repeat: no-repeat;background-attachment: fixed;background-size: cover;
}
h1{
    color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100px;
}
.div2 {
    width: 120px;
    height: 20px;
    background: wheat;
    transition: width 1s;
    border-radius: 100px;
}
div:hover {
    width: 100%;
}
.build{
    font-size: 20px;
}

H2{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: monospace;
    background-color: grey;
}
.about{
    background-color: transparent;
    color: white;
}
.button {
    background-color:whitesmoke;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 50px;
    font-style: oblique;
    border-color: black;
    font-weight: bold;
    
}
.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
  
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);   
}
.slfspace{
    background-color: wheat;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 50px;
}
.insta{ background-color: palevioletred;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 50px;
}
.youtube{ background-color: red;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 50px;
}
.loo7{ background-color: palevioletred;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 50px;
}
.downloadminecraft{
    background-color: greenyellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 20px; 
}
.samp{
    background-color: greenyellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 20px; 
}
p {
    border: 2px solid powderblue;
    margin: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
  /* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
.navbar{
    background-image: url(img/246223.jpg);
    background-repeat: no-repeat;background-attachment: fixed;background-size: cover;
    font-size: 25px;
    color: whitesmoke;
    width: 100%;
    font-kerning: inherit;
    font-display: 100px;
}
